[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tox = "*"
pytest-cov = "*"
flake8 = "*"

[packages]
fastapi = {extras = ["all"], version = "*"}
uvicorn = "*"
toml = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
pycryptodome = "*"
requests = "*"
requests-http-signature = "*"
pydantic = "*"
psycopg2 = "*"
fastapi-login = "*"
alembic = "*"
starlette = "*"
bcrypt = "*"

[requires]
python_version = "3.8"

[scripts]
start = "uvicorn PactPlan:app"
dev = "pipenv run start --reload"
makemigrations = "alembic revision --autogenerate"
migrate = "alembic upgrade head"
lint = "flake8 ."
